.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  padding-top: calc(2rem + var(--nav-height));
}

.wrapper {
  max-width: 50rem;

  padding: 1rem;

  line-height: 1.7;
}

.wrapper > h1 {
  padding: 1rem;
  padding-bottom: clamp(1rem, 3vw, 2rem);

  font-size: clamp(2rem, 7vw, 3rem);
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper > h3 {
  font-size: clamp(0.95rem, 2vw, 1.15rem);
  font-weight: 700;
}

.wrapper > p {
  font-size: clamp(0.925rem, 2vw, 1.05rem);

  padding-bottom: 1rem;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
