.section {
  padding: 2rem 1rem;

  text-align: center;
}

.section h1 {
  padding: 1rem;
  padding-bottom: clamp(1.5rem, 3vw, 3rem);

  font-size: clamp(2rem, 7vw, 3rem);
  letter-spacing: 5px;
  font-weight: 700;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section.uppercase h1 {
  text-transform: uppercase;
}

.actionSection {
  padding: 2rem;
}
