.categories {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;

  padding: 2rem;

  text-align: center;
}

.category {
  min-height: 25rem;
  height: 30vw;
  min-width: 20rem;
  width: 27.5vw;

  position: relative;
}

.category:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.category h3 {
  text-transform: uppercase;
  font-size: clamp(2.75rem, 3vw, 4rem);
  font-weight: 700;
}

@media (min-width: 1669px) {
  .category {
    min-height: 17.5rem !important;
    height: 17.5rem !important;
    width: 37.5rem !important;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
  }

  .category img {
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1668px) {
  .category img {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    height: 80%;

    object-fit: contain;
  }
}

@media (max-width: 980px) {
  .category {
    min-height: 17.5rem;
    height: 35vw;
    width: 90vw;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .category img {
    width: 70%;
    height: 70%;
  }
}
