.product {
  width: var(--card-dim);

  margin: 0.75rem;

  text-align: center;
}

.product img {
  width: 100%;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  padding: 1rem;
}

.description h3 {
  width: 100%;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  line-height: 1.25;
  text-transform: uppercase;
}

.description p {
  font-size: clamp(1rem, 1vw, 1.15rem);
  color: var(--off-grey-darker);
}

@media (max-width: 640px) {
  .product {
    width: 87.5vw;
  }

  .product-card {
    width: 87.5vw;
    height: 87.5vw;
  }
}
