.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  padding-top: calc(2rem + var(--nav-height));
}

.page > h1 {
  padding: 1rem;
  padding-bottom: clamp(1rem, 3vw, 2rem);

  font-size: clamp(2rem, 7vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;

  border-bottom: 2px solid var(--off-grey);
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
