.page {
  height: 100vh;

  display: flex;
  gap: 1rem;

  padding-top: calc(2rem + var(--nav-height));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.slider {
  max-height: 80vh;
}

.cart-logic {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 2rem 1rem;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
}
