.text {
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.55;
}

.text > span {
  display: block;
  padding: 0.5rem 0rem;
}

.text {
  line-height: normal;
}

.list > span {
  padding: 0;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
